body {
    font-family: 'Roboto', sans-serif; /* Updated font-family */
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Lighter background color */
}

header {
    background-color: #2c3e50; /* Darker background color */
    color: #ecf0f1; /* Light text color */
    text-align: center;
    padding: 1em 0;
}

section {
    padding: 30px; /* Increased padding for better spacing */
    background-color: #fff; /* White background for sections */
    border-radius: 8px; /* Rounded corners for sections */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle box shadow */
    margin-top: 20px;
}

h1, h2, h3 {
    color: #2c3e50; /* Dark text color */
}

.skills, .services {
    margin-top: 30px; /* Increased margin-top for better separation */
}

.social {
    margin-top: 40px; /* Increased margin-top for better separation */
}

.social a {
    display: inline-block;
    margin-right: 15px; /* Increased margin-right for better spacing */
    color: #3498db; /* Blue color for links */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.social a:hover {
    color: #2980b9; /* Darker blue color on hover */
}

.social i {
    font-size: 24px;
}
